html {
  //  font-size: 10px;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .2rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffdb4d;
  box-shadow: 0 0 1rem #ffdb4d;
}

kbd {
  display: block;
  font-size: 4rem;
  background-color: transparent !important;
  border-radius: 0px !important;
  box-shadow: none !important;
  webkit-box-shadow: none !important;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffdb4d;
}

.coverPhoto {
  background: url(drums.jpg) left center;
  background-size: cover;
}

.marginLR {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

@media only screen and (max-width: 767px) and (min-width: 320px) {
  .key {
    border: 0.2rem solid black;
    border-radius: 0.5rem;
    margin: 1rem;
    font-size: .5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 9rem;
    height: 9rem;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 0.5rem black;
  }
  kbd {
    display: block;
    font-size: 4rem;
    background-color: transparent !important;
    border-radius: 0px !important;
    box-shadow: none !important;
    webkit-box-shadow: none !important;
  }
  .sound {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffdb4d;
  }
}

}

/* Portrait phones and smaller */